main{
    padding: 20px 0 20px 0;
}
main div{
    display: flex;
      justify-content: center;
}

main button {
    background-color: blue;
    outline: none;
    border: none;
    width: 95px;
    height: 30px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    margin: 0 5px 0 5px
}
main .registrarusuario{
    font-size: 19px;
}
main input{
    border: 1px solid gray;
    width: 200px;
    height: 20px;
    text-align: center;
    outline: none;
    font-weight: 600;
    margin: 15px 0 10px 0;
    border-radius: 10px;


}
main label{
    font-size: 20px;
    font-weight: 700;
}
main div{
    display: flex;
      justify-content: center;
}
main{
    padding: 50px 0 50px 0;
}
main h1{
    font-size:40px;
    color: gray;
    text-shadow: 2px 2px 2px black;
    font-weight: 500;
    margin: 0 0 30px 0;
}